<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
        <a href="/" class="navbar-brand">Kurs Uygulaması</a>
        <ul class="navbar-nav me-1">
            <li class="nav-item ">
                <a href="/kurslar" class="nav-link">Kurslar</a>
            </li>
            <li class="nav-item">
                <a href="/iletisim" class="nav-link">İletişim</a>
            </li>
            <li class="nav-item">
                <a href="/hakkimizda" class="nav-link">Hakkımızda</a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
                <a href="/kurslar/kursKayit" class="nav-link">Kurs Kaydet</a>
            </li>
            <li class="nav-item">
                <a href="/kurslar/kursListesi" class="nav-link">Kurs Listesi</a>
            </li>
            
            {% endif %}
            
            <form action="{% url 'search' %} "class="">
                <input class="form-control" type="text" name="q" placeholder="Neyi arıyorsun?">
                <button type="submit" class="btn btn-secondary">Ara</button>
            </form>
        </ul>
        <ul class="navbar-nav me-1">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'user_logout' %}" class="nav-link">Çıkış Yap</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">{{user}}</a>
            </li>
            <li class="nav-item">
                <a href="/account/changePassword" class="nav-link">Şifreni Değiştir</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'user_login' %}" class="nav-link">Giriş Yap</a>
            </li>
            
            <li class="nav-item">
                <a href="{% url 'user_register' %}" class="nav-link">Kaydol</a>
            </li>
            {% endif %}
            
            
        </ul>
    </div>
</nav>