<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
        <a href="/" class="navbar-brand">Kurs Uygulaması</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/kurslar" class="nav-link">Kurslar</a>
            </li>
            <li class="nav-item">
                <a href="/iletisim" class="nav-link">İletişim</a>
            </li>
            <li class="nav-item">
                <a href="/hakkimizda" class="nav-link">Hakkımızda</a>
            </li>
            <li class="nav-item">
                <a href="/kurslar/kursKayit" class="nav-link">Kurs Kaydet</a>
            </li>
            <li class="nav-item">
                <a href="/kurslar/kursListesi" class="nav-link">Kurs Listesi</a>
            </li>
            <form action="{% url 'search' %}">
                <input class="form-control me-1" type="text" name="q" placeholder="Neyi arıyorsun?">
                <button type="submit" class="btn btn-secondary">Ara</button>
            </form>
        </ul>
    </div>
</nav>