{% extends 'base.html' %}

{% block Content %}
<div class="container mt-3"><!--yukarıdan 3 aşağı taşıyor mt-3-->
     
    <div class="row">
        {% for kurs in Kurs %}
        <div class="col-3">
           
            <!--Menü-->
            <img class="img-fluid rounded" src="{{kurs.imageUrl}}" alt={{kurs.title}}>
        </div>
        <div class="col-9">
            <h1 class="h3">{{kurs.title}}</h1>
            <p>
                {{kurs.description}}
            </p>
        </div>
        {% endfor %}
            <!--içerikler-->
    </div>
    
</div>
{% endblock Content %}
