{% extends 'base.html' %}

{% block Content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <form action="{% url 'upload' %}" method="post">
                <div class="input-group">
                    <input type="file" class="form-control" id="imgUpload",name="image">
                    <button class="btn btn-outline-secondary" type="button" >Yükle</button>
                  </div>
            </form>
        </div>
    </div>
</div>
{% endblock  %}
