{% extends 'base.html' %}

{% block Content %}
<div class="container mt-3"><!--yukarıdan 3 aşağı taşıyor mt-3-->
    <div class="row">   
        <div class="col-3"><!--solda menü olsun diye ayırdık-->
            <!--Menü-->
            <div class="container mt-3">
                {% include 'partials/_menu.html' %}

            </div>
        </div>
        <div class="col-9">
            {% if Kurslar|length == 0 %}
            <div class="alert alert-warning">Kurs Bulunamadı</div>
            {% endif %}
            
            {% for kurs in Kurslar %}
            <div class="container mt-3">
                <div class="card" style="width: 12rem;">
                    <img class="card-img-left" src="{% if kurs.image != "" %}{{kurs.image.url}}{% endif %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{kurs.title}}</h5>
                        <p class="card-text">{{kurs.description}}</p>
                        <a href="{% url 'courses' kurs.slug %}" class="btn btn-primary">Git</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% include 'partials/_paginator.html' %}
        </div>
            <!--içerikler-->
    </div>
</div>
{% endblock Content %}
