{% extends 'base.html' %}

{% block Content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <form method="post" >
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {% endif %}
                {% comment %} {{form.as_div}} {% endcomment %}
                <div class="mb-3">
                    <label for="username" class="form-label">Kullanıcı Adı</label>
                    <input type="text" name="username" class="form-control" id="username" required>
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label" >Şifre</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>
                <button class="btn btn-primary" type="submit">Giriş Yap</button>
            </form>
        </div>
    </div>
</div>
{% endblock  %}
