<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"/>
    <title>Document</title>
</head>
<body>
    <!--navbar{% include 'partials/_nav.html' %}-->
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">Kurs Uygulaması</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/kurslar" class="nav-link">Kurslar</a>
                </li>
                <li class="nav-item">
                    <a href="/iletisim" class="nav-link">İletişim</a>
                </li>
                <li class="nav-item">
                    <a href="/hakkimizda" class="nav-link">Hakkımızda</a>
                </li>
            </ul>
        </div>
    </nav>
   
    {% block Content %}
    <!--CONTENT-->
    {% endblock  %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" ></script>
</body>
</html>
